<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<%= link_to 'Home', root_path %>
<h1>About:</h1>
<div>
  <p>This website is built for learning and practing purposes on learning Ruby on Rails through <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">The Complete Ruby on Rails Developer Course</a></p>
</div>
</body>
</html>
